<!-- <div class="form-group row">
    <input class="form-check-input mt-1" type="checkbox" id="inlineCheckbox1" value="opt">
    <div class="col-10">
        <input type="text" [formControl]="txtInput" (keyup.enter)="agregar()" class="form-control" id="inputPassword"
            placeholder="¿Qué desea hacer?">
    </div>
</div> -->

<div class="form-check">
    <input class="form-check-input mt-2" type="checkbox" id="inlineCheckbox1" value="opt" (click)="toggleAll()">
    <div class="col-10">
        <input type="text" [formControl]="txtInput" (keyup.enter)="agregar()" class="form-control" id="inputPassword" placeholder="¿Qué desea hacer?">
    </div>
</div>