<span><strong>{{pendientes}}</strong> tareas pendientes</span>
<div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
    <ng-container *ngFor="let filtro of filtros">
        <label class="btn btn-outline-secondary btn-sm" [class.active]="filtro === filtroActual">
            <input type="radio" autocomplete="off" [checked]="filtro === filtroActual" (click)="cambiarFiltro(filtro)"> {{filtro | titlecase}}
        </label>
    </ng-container>
</div>
<button type="button" class="btn btn-light" (click)="limpiarCompletados()">Limpiar completados</button>