<span><strong>0</strong> tareas pendientes</span>
<div class="btn-group btn-group-toggle ml-3" data-toggle="buttons">
    <label class="btn btn-outline-secondary btn-sm active">
        <input type="radio" name="options" id="option1" autocomplete="off" checked> Todas
    </label>
    <label class="btn btn-outline-secondary btn-sm">
        <input type="radio" name="options" id="option2" autocomplete="off"> Activos
    </label>
    <label class="btn btn-outline-secondary btn-sm">
        <input type="radio" name="options" id="option3" autocomplete="off"> Completado
    </label>
</div>
<button type="button" class="btn btn-light">Limpiar completados</button>